.testClass {
  font-weight: bolder;
  color: violet;
}
.testClass2 {
  font-weight: normal;
  color: aqua;
}
.testLi {
  text-align: center;
  margin: 5px;
  border-radius: 15px;
}
.testLi:hover {
  background-color: aqua;
}
